.cartButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: green;
    border: 1px solid rgb(230, 229, 229);
}

.cartButtonContainer button{
    border: none;
    width: 2vw;
    font-size: 2vh;
}
