.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mainPageContainer{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.banners{
  height: 35vh;
  background-color: #171A29;
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banners img{
  width: 14vw;
  height: 26vh;
  transition: 0.4s;
}

.restaurants{
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5vw;
}

.banners img:hover{
  height: 28vh;
  width: 15vw;
}

.nav-link{
  text-decoration: none;
  color: black;
}

.nav-link:hover{
  color:#f88736;
}

.nav-item img{
  height: 5vh;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15vw;
  padding-right: 15vw;
  height: 8vh;
}

.navbarItems{
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}

.restaurantCount{
  width: 68vw;
  border-bottom: 1px solid rgba(177, 176, 176, 0.658);
}

.restaurantCount h3{
  font-weight: bold;
}

.footer{
  background-color: rgb(0, 0, 0);
  padding-top: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.subHeader{
  color: rgb(131, 130, 130);
  padding-bottom: 2vh;
}

.footerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(230, 227, 227, 0.904);
}

.footerContainer h6{
  cursor: pointer;
}

.signoutButton{
  cursor: pointer;
}

.userButton{
  background-color: #f88736;
  border: none;
  cursor: pointer;
}

.userButton:hover{
  background-color: #f88736;
}

.userButton:focus{
  background-color: #f88736;
}

.finalFooter{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding-top: 5vh;
}

.finalFooter img{
  width: 8vw;
}

.smLogos{
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .nav{
    font-size: 1.5vh;
  }

  .navbarItems{
    gap: 0vw;
  }
}

@media screen and (max-width: 650px) {
  .nav{
    font-size: 1.2vh;
  }

  .navbarItems{
    gap: 0vw;
  }
}