.cartContainer{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.cartItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 1vw;
}

.cartItem:hover{
    border: 1px solid rgb(218, 218, 218);
}


.cartRestaurantDetails{
    display: flex;
    align-items: center;
    gap: 2vw;
    background-color: #171A29;
    color: white;
    height: 20vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.cartRestaurantDetails img{
    height: 15vh;
}

.itemDetails img{
    height: 8vh;
}

.itemDetails{
    display: flex;
    gap: 1vw;
}

.itemDetailsName img{
    height: 2vh;
}

.checkoutContainer .rupeeSign{
    font-size: 1.6vh;
}

.checkoutContainer{
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 2vh;
    border-top: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2vh;
}

.checkoutContainer button{
    background-color:#F6812A;
    border: none;
    width: 8vw;
}

.addToCartButton{
    width: 8vw;
}

.checkoutContainer button:hover{
    background-color:#F6812A;
}

.emptyCart{
    text-align: center; 
    padding-top: 5vh;
}

.emptyCart h5{
    padding-top: 4vh;
}

.emptyCart button{
    background-color: #F6812A;
    border: none;
}

.emptyCart button:hover{
    background-color: #F6812A;
}
