.helpContainer{
    min-height: 90vh;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #37718E;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.helpHeader{
    color: white;
    padding-top: 5vh;
}

.helpDropdownButton:focus{
    background-color: white;
}

.helpDropdownButton:hover{
    color: #F67E2A;
}

.accordion h4{
    color: white;
}