.offersContainer{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.offersHeader{
    background-color: rgb(17, 80, 98);
    color: white;
    height: 30vh;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offersHeader h1{
    font-weight: bold;
}

.offersBody {
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


.offersHeader img{
    height: 25vh;
}

.couponContainer{
    border: 1px solid rgb(187, 187, 187);
    text-align: center;
}

.couponContainer h6{
    background-color: #F6812A;
    color: white;
}
