.successPage{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.successPage img{
    height: 50vh;
    width: 70vw;
}

.orderMessage{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.orderMessage h1{
    font-weight: bold;
    color: #F67E2A;
    /* margin-bottom: 3vh; */
}

.orderMessageImage{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.orderMessageImage img{
    height: 5vh;
    width: 3vw;
}