.ordersContainer{
    min-height: 90vh;
}

.singleOrdersContainer{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.orderItem{
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    gap: 2vw;
}

.orderItem:hover{
    border: 1px solid grey;
}

.orderItems{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.orderPageTitle{
    padding-left: 15vw;
    padding-bottom: 2vh;
}

.noOrderScreen{
    min-height: 90vh;
    text-align: center;
}

.noOrderScreen h1{
    color: rgb(246, 126, 42);
}

.orderPageTitle h3{
    color: rgb(246, 126, 42);
}

.orderItemDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}