.restaurant{
    height: 40vh;
    width: 16vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.restaurant:hover{
    border: 1px solid rgb(199, 198, 198);
    box-shadow: 0vh 0.3vh rgba(226, 225, 225, 0.623);
}

.restaurantImage{
    height: 20vh;
    padding-top: 2vh;
    text-align: center;
}

.restaurantDetails{
    margin-left: 1vw;
    margin-right: 1vw;
    border-bottom: 1px solid rgba(189, 187, 187, 0.377);
    font-size: 1.3vh;
    color: rgb(116, 115, 115);
}

.restaurantName{
    color: black;
}

.rupeeSign{
    font-size: 1.1vh;
}

.discount{
    margin-left: 1vw;
    margin-right: 1vw;
    color: rgb(138, 88, 75);
    font-weight: 500;
}

.restaurantImage img{
    height: 18vh;
    width: 14vw;
}

.ratingAndCostDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating{
    background-color: #5AC579;
    color: white;
}