.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding-bottom: 5vh;
    min-height: 90vh;
}

.cuisines h5{
    font-weight: bold;
    color: #3D4152;
}


.searchBar{
    height: 5vh;
    width: 40vw;
    border-color: rgb(167, 167, 167);
    border-radius: 0;
}

.searchBar:focus{
    box-shadow: none;
    border-color: rgb(167, 167, 167);   
}


.searchedRestaurant{
    height: 10vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}


.mutedText{
    color: rgb(156, 154, 154);
}

.searchedRestaurantDetails{
    display: flex;
    flex-direction: column;
}

.searchedRestaurant:hover{
    background-color: #F2F6FC;
}

.searchedRestaurant img{
    height: 8vh;
}

.cuisines img{
    width: 5vw;
}