.continueButton {
    background-color: #fc791b;
    color: white;
    border-radius: 0;
    font-size: 1.3vh;
    font-weight: bold;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.loginName {
    color: #fc791b;
}

.continueButton:hover {
    background-color: #f88736;
    color: white;
    box-shadow: 0vw 0.3vh rgba(112, 110, 110, 0.137);
}

.continueButton:focus {
    background-color: #f88736;
    color: white;
    box-shadow: none;
    border-color: #f88736;
}

.signupForm label {
    color: grey;
}

.signupForm .inputFields {
    height: 7.5vh;
}

.loginText {
    color: #F6802A;
    font-weight: 500;
}

.boldTAC {
    font-weight: 500;
}

.signupContainer small {
    font-size: 1.2vh;
}

.underline {
    padding-bottom: 2.5vh;
    border-bottom: 2px solid;
}

.signupHeader {
    padding-top: 2vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.inputFields {
    border-radius: 0;
}

.inputFields:focus {
    box-shadow: none;
    border-color: rgba(190, 188, 188, 0.692);
}

.signupMainPage {
    height: 100vh;
    width: 100vw;
    background-color: #eaeced75;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.signupCover{
    display: flex;
    flex-direction: row;
    width: 60vw;
}

.signupCover img{
    width: 60vw;
    height: 100vh;
}


.signupContainer {
    background-color: white;
    width: 40vw;
    height: 100vh;
    padding-right: 18vw;
    padding-left: 2vw;
    padding-top: 3vh;
}

.signupHeader p {
    font-size: 1.3vh;
}

.signupForm {
    display: flex;
    flex-direction: column;
    gap: 1.4vh;
}

a{
    text-decoration: none;
    color: black;
}

.form-floating .formErrorMessage {
    color: rgba(253, 59, 59, 0.87);
}

.referralCode {
    cursor: pointer;
    color: #62ADEB;
    font-weight: 450;
    padding-top: 2vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@media screen and (max-width: 1200px) {
    .signupContainer {
        width: 60vw;
    }
    .signupCover{
        width: 40vw;
    }
}

@media screen and (max-width: 500px) {
    .signupContainer {
        width: 70vw;
    }
    .signupCover{
        width: 30vw;
    }
}

@media screen and (max-width: 400px) {
    .signupContainer {
        width: 85vw;
    }
    .signupCover{
        width: 15vw;
    }
}

@media screen and (max-width: 300px) {
    .signupContainer {
        width: 100vw;
    }
    .signupCover{
        width: 0;
    }
}