.singleRestaurantData{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    justify-content: flex-start;
    color: white;
    background-color: #171A29;
    width: 100vw;
    height: 30vh;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-bottom: 2vh;
}

.restaurantItemsFilter{
    padding-left: 25vw;
    padding-right: 25vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.singleRestaurantItemsContainer{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: space-between;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 10vh;
    
}

.cartLogoContainer p{
    font-size: 1.3vh;
}

.singleRestaurantData img{
    height: 20vh;
}

.addButtonContainer{
    display: flex;
    flex-direction: column;
}

.addButtonContainer button{
    border: 1px solid rgba(185, 185, 185, 0.651);
    color: green;
    background-color: white;
}

.filterCheckBox{
    border: 1px solid black;
    width: 6vw;
    padding-left: 1.5vw;
    text-align: center;
    height: 3vh;
}

.itemInRestaurant{
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
    justify-content: space-between;
    border-bottom: 1px solid rgba(204, 204, 204, 0.616);
}

.itemInRestaurant img{
    height: 10vh;
}

.singleRestaurantItems{
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 2vh;
}

.cartLogoContainer img{
    height: 20vh;
}

.singleDetails{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.ratingsAndPrice{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.singleRestaurantItems{
    min-height: 60vh;
}

.itemNameAndPrice{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.itemNameAndPrice img{
    height: 2vh;
    width: 1vw;
}

.itemSearch{
    width: 30vw;
    height: 3vh;
    border-radius: 0;
    border-color: black;
}

.itemSearch:focus{
    box-shadow: none;
    border-color: black;
}

.cartLogoContainer button{
    width: 14vw;
    background-color: #F6812A;
    border: none;
}

.cartLogoContainer button:hover{
    background-color: #F6812A;
}
